<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      Add new Speaker
      <nb-icon icon="close-outline" (click)="ref.close()"></nb-icon>
    </nb-card-header>
    <nb-card-body>
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="Irina Pavlova">
      <textarea nbInput fullWidth placeholder="ex-President of Onexim Sports"></textarea>
      <app-input-file-drop></app-input-file-drop>
    </nb-card-body>
    <nb-card-footer>

<!--      <tui-input-file ></tui-input-file>-->
<!--      <input nbInputFile outline type="file" (change)="CreateUser($event)" value="Add photo">-->
      <button nbButton type="file" outline status="danger" (click)="CreateUser($event)">Create Speaker</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<button nbButton (click)="open(dialog)">Create Speaker</button>
