::ng-deep body {
  height: 30rem;
}

:host {
  display: block;
  margin: 0 auto;
  max-width: 50rem;
}

.nb-spinner-container {
  flex: 1 0 4rem;
}

.test {
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: flex-start;
  background-color: lightgoldenrodyellow;
}

:host ::ng-deep nb-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  overflow: auto;

}

:host ::ng-deep nb-list-item{
  display: flex;
  align-items: center;
  //flex-wrap: wrap;
  flex-shrink: 0;
}
