rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /speakers/{speakerID} {
    	allow read;
    }
    match /speakers/{speakerID} {
    	allow write;
    }
    match /participants/{participantsID}{
    	allow write: if request.auth.uid != null;
    }
  }
}
