
:host nb-layout-header ::ng-deep nav {
  justify-content: space-between;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 5vw;
  color: rgba(31,31,31,1);
}

.hb-hr {
  position: absolute;
  display: block;
  width: 50%;
  height: 0.25rem;
  border-width:0;
  color:gray;
  background-color:gray;
  z-index: 1;
}

img {
  width: 100%;
  height: auto;
  //opacity: 0.3;
}

.center-header {
  text-align: center;
}
