
:host nb-layout-header ::ng-deep nav {
  justify-content: space-between;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  top: 35%;
  width: 100%;
  align: center;
  text-align: center;
  font-size: 40pt;
  color: rgba(31,31,31,1);
  //margin: 200pt;
  //padding-bottom: 10pt;
  //border-bottom-width: 0.25rem;
  //border-bottom-style: solid;
  //border-bottom-color: rgba(96,125,139,1);
  //display: block;

}

.hb-hr {
//position: absolute;
display: block;
//top: 35%;
align: center;

width: 50%;
height: 0.25rem;
border-width:0;
//margin-right:40px;
//text-align:right;
//text-align: center;
//color:gray;
background-color:gray;
z-index: 1;
}

underLine {
border-bottom-width: 12px;
border-bottom-style: solid;
border-bottom-color: rgba(96,125,139,1);
display: block;
}

img {
width: 100%;
height: auto;
//opacity: 0.3;
}

.center-header {
text-align: center;
}
