<nb-layout>
  <nb-layout-header fixed>
<!--    <img src="../../assets/homePage/EmbeddedImage.jpg">-->
<!--    <nb-card-header>-->

<!--    </nb-card-header>-->
    <nb-layout-column>
      <h1>LT</h1>
    </nb-layout-column>
    <nb-layout-column>
      <app-menu
      ></app-menu>
    </nb-layout-column>

  </nb-layout-header>


<!--  <nb-sidebar>Sidebar Content</nb-sidebar>-->

  <nb-layout-column>
    <section class="container">
      <img src="../../assets/homePage/EmbeddedImage.jpg" alt="Banner img">
      <h2 class="center">Leader Talks
        <hr></h2>
<!--      <hr>-->
    </section>
    <section>
      <nb-card>
        <nb-card-header>Objective</nb-card-header>
        <nb-card-body>
          LeadeR Talks is a series of online meetings with successful top managers, entrepreneurs, investors, athletes and other individuals from Eastern Europe / former USSR who have studied in the US or have built their careers here.
        </nb-card-body>
      </nb-card>
    </section>
    <section>
<!--      <app-user-service></app-user-service>-->
      <app-user-list></app-user-list>
      <nb-layout-column>
        <h2 class="center-header">PREVIOUSLY HELD MEETINGS</h2>

      </nb-layout-column>
<!--      <app-user-card></app-user-card>-->
      <app-userboard></app-userboard>
    </section>
  </nb-layout-column>

  <nb-layout-footer fixed>

  </nb-layout-footer>
</nb-layout>
