<nb-layout>
  <nb-layout-header fixed>
    <nb-layout-column>
      <h1>LT</h1>
    </nb-layout-column>
    <nb-user size="large"
             name="John Doe"
             title="Engineer"
             badgeText="99+"
             badgeStatus="success"
             badgePosition="bottom right">
    </nb-user>
  </nb-layout-header>
  <nb-sidebar>
    <app-add-participant></app-add-participant>
  </nb-sidebar>
  <nb-layout-column>
    <nb-card class="own-scroll">
      <app-user-list></app-user-list>
    </nb-card>
    </nb-layout-column>
</nb-layout>
